@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');
body {
    margin: 0 auto;
    font-size: 15px;
    max-width: 1920px;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    color:#999999;
    }

a {
    text-decoration: none;
}

@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

@mixin mont($fz) {
    font-family: 'Montserrat', sans-serif;
    font-size: $fz;
}

@mixin kaushan($fz) {
    font-family: 'Kaushan Script', cursive;
    font-size: $fz;
}
