.clients {
    background-image: url(../img/clients/bg-clients.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 830px;
    padding: 111px 0;
    overflow: hidden;

    &__inner {
        text-align: center;
    }

    &__list {
        @include flex-wrap;
        padding-top: 47px;
    }

    &__item {
        width: 50%;
        display: flex;
        padding: 0 30px 30px 41px;
        margin-bottom: 35px;
    }

    &__image {
        border-radius: 50%;
        margin-right: 29px;
    }

    &__text-block {
        width: calc(100% - 139px);
        text-align: left;
        padding-top: 6px;
    }

    &__name {
        @include mont(14px);
        color: #333333;
        text-transform: uppercase;
        margin-bottom: 6px;
    }

    &__prof {
        font-size: 15px;
        font-style: italic;
        color: #333333;
        margin-bottom: 14px;
    }

    &__line{
        width: 60px;
        height: 3px;
        background-color: #f38181;
        margin-bottom: 20px;
    }
    
    &__text {
        font-size: 15px;
        line-height: 24px;
        color: #999999;
    }
}

@media (max-width:1040px) {
    .clients {
        padding: 60px 0;
    }
    .clients__list {
        padding-top: 0;
    }
    .clients__item {
        width: 100%;
        padding: 0 30px;
        margin-bottom: 20px;
    }
    .clients__prof {
        margin-bottom: 5px;
    }
    .clients__line {
        margin-bottom: 10px;
    }
}

@media (max-width:1040px) {
    .clients__name {
        margin-bottom: 0;
    }
    .clients__line {
        margin-bottom: 5px;
    }
}