.rewiev {
    padding: 101px 0 130px;

    &__inner {
        overflow: hidden;
        position: relative;
    }

    &__item {
        display: flex;
        padding: 0 80px;
    }

    &__image {
        width: 210px;
        height: 210px;
        background-image: url(../img/rewiev/rewiev-img.png);
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 30px;
        border-radius: 50%;
    }

    &__text {
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        font-weight: lighter;
        font-size: 24px;
        color: #999999;
        line-height: 36px;
        margin-bottom: 18px;
    }

    &__block-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 4px;
        padding-right: 10px;
        width: calc(100% - 210px);
    }

    &__name {
        @include kaushan(24px);
        padding-left: 70px;
        position: relative;
        color: #333333;
    }

    &__name::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 60px;
        height: 3px;
        background-color: #f38181;
    }
}

.slick-track{
    display: flex;
}

.rewiev__inner .slick-arrow{
    position: absolute;
    top: 45%;
    font-size: 0;
    z-index: 10;
    width: 12px;
    height: 22px;
    border: none;
    outline: none;
}

.rewiev__inner .slick-arrow.slick-prev{
    background: url(../img/quote/arrow-prev.png) 0 0 / 100% no-repeat;
    left: 23px;
}

.rewiev__inner .slick-arrow.slick-next{
    background: url(../img/quote/arrow-next.png) 0 0 / 100% no-repeat;
    right: 23px;
}

.rewiev__item:focus{
    outline: none;
}


@media (max-width:768px) {
    .rewiev__item{
        flex-direction: column;
        align-items: center;
        padding: 0 70px;
    }
    .rewiev__image{
        margin-bottom: 15px;
        margin-right: 0;
    }
    .rewiev__block-text {
        width: auto;
    }
}